<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en-US" }}">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

{% seo %}
    <link rel="stylesheet" href="{{ "/assets/css/style.css?v=" | append: site.github.build_revision | relative_url }}">
    {% include head-custom.html %}
  </head>
  <body style="margin-top: 1.25rem;">
      <div style="margin-bottom: 2rem !important;">
          <div style="float:left">
      <img src="https://www.rse.ox.ac.uk/sites/default/files/rse/site-logo/2024_oxrse_next_to_oxford.svg" alt="OxRSE Logo" width="265"/>
          </div>
          <div style="float:left; margin-left: 1em">
              <span class="grouptitle"><a href="https://www.rse.ox.ac.uk">Oxford Research Software Engineering Group</a></span>
          </div>
      </div>
      <nav style="clear: both; float: none;">
          <ul>
              <li><a href="https://www.rse.ox.ac.uk">Home</a></li>
              <li><a href="https://www.rse.ox.ac.uk/details">How It Works</a></li>
              <li><a href="https://www.rse.ox.ac.uk/people">People</a></li>
              <li><a href="https://www.rse.ox.ac.uk/projects">Portfolio</a></li>
              <li><a href="https://www.rse.ox.ac.uk/training">Training</a></li>
              <li><a href="https://www.rse.ox.ac.uk/contact">Get In Touch</a></li>
              <li><a href="https://www.rse.ox.ac.uk/vacancies">Work With Us</a></li>
              <li><a href="https://www.rse.ox.ac.uk/resources">Resources</a></li>
              <li><a href="." class="current">Publications</a></li>
          </ul>
      </nav>

      <div id="content" style="clear: both">
      {% if site.title and site.title != page.title %}
      <h1>{{ site.title }}</h1>
      {% endif %}

      {{ content }}

      </div>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/anchor-js/4.1.0/anchor.min.js" integrity="sha256-lZaRhKri35AyJSypXXs4o6OPFTbTmUoltBbDCbdzegg=" crossorigin="anonymous"></script>
    <script>anchors.add();</script>
  </body>
</html>

